
body {
    font-family: 'Comic Neue', cursive;
    color: gray;
}

.navbar-item {
    font-family: 'Comic Neue', cursive;
    font-size: 40px;

}

* {
    margin: 0;
    padding: 0;
}

#cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.marvelCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    box-shadow: 2px gray;
    background-color: rgb(214, 32, 32);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
}

