* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive;
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.navbar-item {
    font-family: 'Comic Neue', cursive;
    font-size: 40px;
}

#intro {
    text-align: center;
    padding: 3%;
    font-size: $size-3: 3rem;
    $weight-medium;

}

#cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.marvelCard {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    box-shadow: 2px gray;
    background-color: rgb(214, 32, 32);
    width: 300px;
    height: auto;
    border-radius: 15px;
    border: 20px;
    margin: 2%;
}

#giphyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.giphyCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 28%;
    height: auto;
    background-color:rgb(214, 32, 32);
    border: 20px solid rgb(214, 32, 32);  
    border-radius: 15px; 
    margin: 1%
}

.marvelCard:hover {
    cursor: pointer;
    border:yellow;
    border-width: 15px;
    border-style: solid;
    opacity: 0.5;
}

.giphyCard:hover {
    cursor: pointer;
    border:yellow;
    border-width: 15px;
    border-style: solid;
    width: 32%;
    height: auto;
}